body
{
  background: var(--background-login);
}

.error
{
  color: #AC3545;
  display: flex;
  position: absolute;
  left: 20px;
  top: 3.438rem;
  bottom: 0px;
}

.logo-login
{
  position: absolute;
  top: 1.1rem;
  right: 1.7rem;
  width: 110px;
  height: 100px;
}

.logo-login img
{
  width: 100%;
  height: 100%;
}

.container
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup
{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.login
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  box-sizing: border-box;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.login.sign-up-form
{
  opacity: 0;
  z-index: 1;
}

.login.sign-in-form
{
  z-index: 2;
}

.login.password-form
{
  display:none;
}

.title-login
{
  font-size: 2rem;
  color: var(--text-three);
  margin-bottom: 0.625rem;
}

.font-login
{
  font-size: 1.6rem;
}

.input-field
{
  max-width: 380px;
  width: 100%;
  background-color: var(--input-bg);
  margin: 0.625rem 0;
  height: 3.438rem;
  border-radius: 3.438rem;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i
{
  text-align: center;
  line-height: 3.438rem;
  color: var(--input-icon-bg);
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input
{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--input-c);
}

.input-field input::placeholder
{
  color: var(--input-ph);
  font-weight: 500;
}

.btn.two
{
  margin: 0;
  color: var(--text-three);
  background: var(--btn-two-b);
  width: 8.125rem;
  height: 2.75rem;
  font-size: 0.8rem;
}

.btn.two:hover
{
  background: var(--btn-two-h);
}

.password-text
{
  padding: 0.3rem 0;
  font-size: 1rem;
}

.password-link
{
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-four);
  text-decoration: none;
}

.password-link:hover{
  color: var(--blue-dark);
}

.password-hide
{
  width: 100%;
  max-width: 380px;
  padding: 0 1.7rem;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  margin-top: 7px;
  margin-bottom: 0.313rem;
}

.password-hide input
{
  cursor: pointer;
}

.password-hide label{
  cursor: pointer;
  margin-left: 6px;
}

.panels-container
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before
{
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, var(--pri-gradient) 0%, var(--sec-gradient) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image-login
{
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel
{
  user-select: none;
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel
{
  user-select: none;
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content
{
  color: var(--text-secundary);
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3
{
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p
{
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.right-panel .image-login,
.right-panel .content
{
  transform: translateX(800px);
}

.container.sign-up-mode:before
{
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image-login,
.container.sign-up-mode .left-panel .content
{
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup
{
  left: 25%;
}

.container.sign-up-mode form.sign-up-form
{
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form
{
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image-login,
.container.sign-up-mode .right-panel .content
{
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel
{
  pointer-events: none;
}

.container.sign-up-mode .right-panel
{
  pointer-events: all;
}

@media (max-width: 870px) {
  .logo-login{
    display: none;
  }

  .container
  { 
    height: 100vh;
  }

  .signin-signup
  {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup
  {
    left: 50%;
  }

  .panels-container
  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel
  {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel
  {
    grid-row: 3 / 4;
  }

  .left-panel
  {
    grid-row: 1 / 2;
  }

  .image-login
  {
    width: 12.5rem;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content
  {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3
  {
    font-size: 1.2rem;
  }

  .panel p
  {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.two
  {
    width: 6.875rem;
    height: 2.188rem;
    font-size: 0.7rem;
  }

  .container:before
  {
    width: 1750px;
    height: 1500px;
    transform: translateX(-50%);
    left: 35%;
    bottom: 68%;
    top: initial;
    right: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before
  {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image-login,
  .container.sign-up-mode .left-panel .content
  {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image-login,
  .container.sign-up-mode .right-panel .content
  {
    transform: translateY(0px);
  }

  .right-panel .image-login,
  .right-panel .content
  {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup
  {
    top: 7%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .logo-login{
    display: none;
  }

  .login
  {
    padding: 0 1.5rem;
  }

  .image-login
  {
    display: none;
  }

  .panel .content
  {
    padding: 0.5rem 1rem;
  }

  .container
  {
    padding: 1.5rem;
  }

  .container:before
  {
    bottom: 73%;
    left: 50%;
  }

  .container.sign-up-mode:before
  {
    bottom: 28%;
    left: 50%;
  }

  .signin-signup
  {
    top: 94%;
  }

  .container.sign-up-mode .signin-signup
  {
    top: 7%;
  }
}

